#detective-notes {
    position: absolute;
    bottom: 280px;
    right: -200px;
    width: 300px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    background-color: #044210;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

#folders {
    width: 100%;
    height: 100%;
    position: relative;
}

#suspects svg {
    width: 250px;
}

#weapons svg,
#rooms svg {
    width: 256px;
}

#suspects {
    position: absolute; 
    top: -80px; 
    right: 8px;
}

#weapons {
    position: absolute; 
    top: 120px; 
    right: 5px;
}

#rooms {
    position: absolute; 
    top: 330px; 
    right: 5px;
}

#detective-note-logo {
    position: absolute; 
    bottom: -90px;
    left: 50px;
}

#detective-note-logo svg{
    width: 200px;
}

.checkbox {
    display: none;
}

#expand-or-collapse {
    top: 350px;
    left: 0;
    position: absolute;
}
#expand-or-collapse svg {
    height: 30px;
}

#expand {
    display: none;
}