#start-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 60vh; */
    background-color: #FF4B4B;
    width: 100vw;
    height: 100vh;
    /* border-radiuds: 25px; */
    gap: 20px;
    padding: 40px;
    animation: rainbow 20s infinite;
}

#logo {
    height: 160px;
}

#code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#code-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    gap: 10px;  
}

#code-validator {
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
}

#code-label {
font-weight: 600;
font-size: 44;
}

#code-input > input {
    outline: none;
    border: none;
    height: 70px;
    width: 220px;
    border-radius: 15px;
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    color: #474747
}

#action-button {
    background-color: #979797;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 90px;
    width: 300px; */
    padding: 10px;
    
}

#action-button-inner {
    border: solid 5px #E7E4E4;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 90px; */
    /* width: 300px; */
    color: #E7E4E4;
    font-weight: 600;
    font-size: 36px;
    padding: 10px;
    width: 350px;
}

#action-button:not(.is-not-admin):hover {
    background-color: #686868;
    cursor: pointer;
}

#action-button.is-not-admin:hover {
    cursor: not-allowed;
}

#lobby {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: #979797;
    width: 600px;
    border-radius: 10px;
}

#player-one,
#player-two,
#player-three,
#player-four,
#player-five,
#player-six {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    padding: 5px;
}

.number {
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

#lobby input {
    font-size: 24px;
    font-weight: 700;
    outline: none;
    border: none;
    width: 450px;
}

#player-one > .number {
    background-color: #E1CF00;
}

#player-two > .number {
    background-color: #5060B8;
}

#player-three > .number {
    background-color: #38A900;
}

#player-four > .number {
    background-color: #CA5050;
}

#player-five > .number {
    background-color: #F38F32;
}   

#player-six > .number {
    background-color: #AA43BD;
}

#player-one > input {
    color: #E1CF00;
}

#player-two > input {
    color: #5060B8;
}

#player-three > input {
    color: #38A900;
}

#player-four > input {
    color: #CA5050;
}

#player-five > input {
    color: #F38F32;
}   

#player-six > input {
    color: #AA43BD;
}

#admin {
    background-color: #E1CF00;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 50px;
}

.edit {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 50px;
    display: none;
}

.save {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 50px;
    display: none;
}

.exit {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 50px;
    display: none;
}

#admin svg,
.edit svg,
.save svg,
.exit svg {
    height: 100%;
    width: 100%;
}

.edit svg,
.save svg,
.exit svg {
    cursor: pointer;
}

.edit:hover,
.exit:hover,
.save:hover {
    background-color: #686868;
}

.edit:hover path,
.exit:hover path,
.save:hover g {
    fill: #D9D9D9;
}

@media (max-height:1000px) {
    #logo {
        height: 100px;
    }

    #code-label {
        font-size: 30px;
    }

    input {
        height: 40px;
    }

    #code {
        gap:3px;
    }

    #admin,
    .number,
    .edit,
    .exit,
    .save  {
        height: 35px;
        width: 35px;
    }
    
    #action-button-inner {
        font-size: 26px;
    }
}
