@import url('player-selection.css');
@import url('game.css');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#boardgame {
    position: relative;
    height: 100%;
    /* padding: 20px; */
    display: flex;
}

#board {
    height: 100%;
    width: 100%;
}

#gameplay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.player {
    position: absolute;
    border-radius: 50%;
    border: solid 2px #474747;
    /* height: 25px;
    width: 25px; */
}

#miss-scarlet > div {
    background-color: #872427;
}

#mrs-white > div {
    background-color: #FFFFFF;
}

#mrs-peacock > div {
    background-color: #4C599D;
}

#professor-plum > div {
    background-color: #6C3C89;
}

#mr-green > div {
    background-color: #618547;
}

#colonel-mustard > div {
    background-color: #C5A12F;
}

#dice-roll {
    position: absolute;
    bottom: 0;
    right: -200px;
    width: 300px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 5px;
}

#dice {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-roll p {
    font-weight: 600;
    color: #474747;
    font-size: 30px;
    margin: 0;
}

#six-cube {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#four-cube {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #six-cube svg {
    height: 100%;
    width: 100%;
}

#four-cube svg {
    height: 100%;
    width: 100%;
} */