#secret-passage {
    position: absolute;
    bottom: 240px;
    right: 50px;
    width: 300px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    background-color: #044210;
    border-radius: 10px;
    padding: 5px;
    /* animation: rainbow 20s infinite; */
    opacity: 0.6;
}

#suggestion {
    position: absolute;
    bottom: 290px;
    left: 50px;
    width: 300px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    background-color: #FF4B4B;
    border-radius: 10px;
    padding: 5px;
    animation: rainbow 20s infinite;
    opacity: 0.6;
}

#suggest {
    position: fixed;
    /* Use fixed positioning to keep it centered even when scrolling */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust the position to be exactly centered */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    /* Add a shadow for better visibility */
    border-radius: 25px;
    background-color: white;
    /* Add a background color for better visibility */
    padding: 20px;
    /* Add some padding for better spacing */
    z-index: 1000;
    /* Ensure it appears above other elements */
    width: 700px;
    height: 550px;
    background-color: #FFFFFF;
    gap: 25px;
}

#selections {
    display: flex;
    justify-content: center;
    align-items: center;
}

#suspect,
#weapon,
#room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.label {
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}

.value {
    background-color: #F0F0F0;
    border-radius: 15px;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #044210;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

#choices {
    /* height: 530px; */
    /* width: 700px; */
    background-color: #F0F0F0;
    border-radius: 25px;
}

#choices .suspect-selected,
#choices .weapon-selected,
#choices .room-selected {
    border: solid 5px #044210;
}

#suspects-choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    padding: 10px;
}

#suspects-choice>div,
#weapons-choice>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: solid 5px transparent;
    cursor: pointer;
}

#suspects-choice img,
#weapons-choice img {
    height: 100px;
    width: auto;
}

#rooms-choice img {
    height: 65px;
    width: auto;
}

#weapons-choice {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    padding: 10px;
}

#rooms-choice {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    width: 100%;
}

#rooms-choice>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 115px;
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: solid 5px transparent;
    cursor: pointer;
}

.choice-text {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#selection-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#choose {
    background-color: #044210;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 32px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

#cancel {
    background-color: #FFFFFF;
    border: solid 5px #044210;
    border-color: #044210;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #044210;
    font-weight: 600;
    font-size: 32px;
    cursor: pointer;
}

.page-selected {
    background: linear-gradient(90deg, #044210 50%, transparent 50%),
        linear-gradient(90deg, #044210 50%, transparent 50%),
        linear-gradient(0deg, #044210 50%, transparent 50%),
        linear-gradient(0deg, #044210 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 10px;
    animation: dash 5s linear infinite;
}

#confirmation-title {
    font-size: 66px;
    font-weight: 700;
    color: #044210;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

#confirmation {
    /* height: 360px;
    width: 700px; */
    background-color: #F0F0F0;
    border-radius: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

#suspect-chosen,
#weapon-chosen,
#room-chosen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.chosen-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #044210;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: 600;
    font-size: 24px;
}

.chosen-value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #474747;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
    width: 200px;
    height: 250px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

#chosen-text {
    height: 74px;
}

.chosen-value img {
    display: none;
    height: 100px;
    width: auto;
}

.chosen-value #mrs-white-chosen,
.chosen-value #knife-chosen,
.chosen-value #hall-chosen {
    display: block;
}

#suggested {
    position: fixed;
    /* Use fixed positioning to keep it centered even when scrolling */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust the position to be exactly centered */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    /* Add a shadow for better visibility */
    border-radius: 25px;
    background-color: #C5A12F;
    /* Add a background color for better visibility */
    padding: 20px;
    /* Add some padding for better spacing */
    z-index: 1000;
    /* Ensure it appears above other elements */
    width: 800px;
    /* height: 600px; */
    padding: 50px;
    gap: 25px;
}

#suggested-title {
    font-size: 46px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selected-options {
    /* height: 360px;
    width: 700px; */
    background-color: #F0F0F0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

#suspect-suggested,
#weapon-suggested,
#room-suggested {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.suggested-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5A12F;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: 600;
    font-size: 24px;
}

.suggested-value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #474747;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
    width: 200px;
    height: 250px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

#suggested-text {
    height: 74px;
}

.suggested-value img {
    display: none;
    height: 100px;
    width: auto;
}

.suggested-value #mrs-white-suggested,
.suggested-value #knife-suggested,
.suggested-value #hall-suggested {
    display: block;
}

#show-card {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}