#won-or-lost {
    position: fixed;
    /* Use fixed positioning to keep it centered even when scrolling */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust the position to be exactly centered */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    /* Add a shadow for better visibility */
    border-radius: 25px;
    background-color: white;
    /* Add a background color for better visibility */
    padding: 20px;
    /* Add some padding for better spacing */
    z-index: 10001;
    /* Ensure it appears above other elements */
    width: 700px;
    height: 550px;
    background-color: #FFFFFF;
    gap: 25px;
}

#won-or-lost-logo svg {
    height: 100px;
}

#won-or-lost-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#won-or-lost-text {
    font-size: 25px;
    font-weight: 600;
}

.result-picture img {
    height: 200px;
    border-radius: 25px;
}

#won-or-lost-name {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}

#winning-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#winning-cards img {
    height: 200px;
    width: auto;
    display: none;
}

#players-cards {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#players-cards-avatar img {
    height: 200px;
    width: auto;
    display: none;
    border-radius: 25px;
}

#players-cards-title {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}

#players-cards-display {
    display: flex;
}

#players-cards-display img {
    height: 200px;
    width: auto;
    display: none;
}

#game-statistics {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

#game-statistics-title {
    font-weight: 600;
}

#game-statistics-image img {
    height: 150px;
    display: none;
}

#game-statistics-player {
    font-size: 48px;
    color: #FFFFFF;
}