#detective-notes {
    position: absolute;
    /* bottom: 260px; */
    right: 0px;
    width: 275px;
    height: 650px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    background-color: #044210;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    z-index: 1000;
}

#folders {
    width: 100%;
    height: 100%;
    position: relative;
}

#suspects svg {
    width: 250px;
}

#weapons svg,
#rooms svg {
    width: 256px;
}

#suspects {
    position: absolute;
    top: 0px;
    right: 8px;
}

.folder-contents {
    width: 100%;
    height: 100%;
    position: relative;
}

.folder-label {
    position: absolute;
    z-index: 100;
    color: #044210;
    font-size: 16px;
}

#suspects .folder-label {
    top: 5px;
    left: 26px;
}

#suspects-checkboxes,
#weapons-checkboxes,
#rooms-checkboxes {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 190px;
    z-index: 150;
    /* background-color: pink; */
    height: 100%;
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.check {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox svg {
    height: 20px;
    width: 20px;
}

.checkbox-label {
    font-size: 15px;
    color: #044210;
    width: 80%;
    margin-top: 2px;
}

#weapons .folder-label {
    top: 5px;
    left: 30px;
}

#rooms .folder-label {
    top: 5px;
    left: 40px;
}

#weapons {
    position: absolute;
    top: 165px;
    right: 5px;
}

#rooms {
    position: absolute;
    top: 330px;
    right: 5px;
}

#detective-note-logo {
    position: absolute;
    bottom: -100px;
    left: calc(50% - 75px);
}

#detective-note-logo svg {
    width: 150px;
}

.checkbox {
    display: flex;
    align-items: center;
}

#expand-or-collapse {
    top: 50%;
    left: 0;
    position: absolute;
}

#expand-or-collapse svg {
    height: 30px;
}

#expand {
    display: none;
}