
#dice-roll {
    position: absolute;
    bottom: 80px;
    right: -200px;
    width: 300px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 5px;
}

#dice {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-roll p {
    font-weight: 600;
    color: #474747;
    font-size: 30px;
    margin: 0;
}

#six-cube {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#four-cube {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #six-cube svg {
    height: 100%;
    width: 100%;
}

#four-cube svg {
    height: 100%;
    width: 100%;
} */

.scale-center {
    transform: scale(2);
    transition: transform 1s;
}

#rolling-area {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.die svg {
    width: 60px;
    height: 60px;
}

#dice-1 > .one-die,
#dice-1 > .two-die,
#dice-1 > .three-die,
#dice-1 > .four-die,
#dice-1 > .five-die {
    display: none;
}

#dice-2 > .one-die,
#dice-2 > .two-die,
#dice-2 > .three-die,
#dice-2 > .five-die,
#dice-2 > .six-die {
    display: none;
}

#moves {
    display: none;
    font-size: 56px;
    font-weight: 600;
    color: #C5A12F;
}

